<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/index.css">
    <title>Search Engine</title>
</head>
<body>
    <div class="container">
        <div class="page_title" onclick="window.location.href = '/'">
            <p>This is a search engine</p>
        </div>
        <div class="search_bar">
            <div class="search_bar_text_button">
                <input 
                    name="search_text"
                    type="text"
                    placeholder="Search..."
                    onkeydown = "if (event.keyCode == 13) document.querySelector('.search_bar_button').click()" >
                    <button class="search_bar_button">Go</button>
            </div>
            <ul class="suggestions">
                
            </ul>
        </div>

        <div class="pagination_movies">
            <div class="pagination_section">

            </div>
    
            <div class="movies">
        </div>

        </div>

        <div></div>

    </div>
</body>
<script src="/public/js/index.js"></script>
</html>