<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ignore spelling errors</title>
</head>
<body>
    <div class="search_bar">
        <div class="search_bar_text_button">
            <input 
                name="search_text"
                type="text"
                placeholder="Search..."
                onkeydown = "if (event.keyCode == 13) document.querySelector('.search_bar_button').click()" >
            <button class="search_bar_button">Go</button>
        </div>
        <pre class="data">
                
        </pre>
    </div>
</body>
<script src="/public/js/spelling-error-search.js"></script>
</html>